# THE FRIEDMAN TWO-WAY ANALYSIS OF VARIANCE BY RANKS

Is a non-parametric statistical test used to analyze data when comparing multiple treatments or conditions. It is an extension of the Wilcoxon signed-rank test for paired samples to the case of more than two related samples.

In [3]:

# Example 13.9.1
data <- read.csv("data/ch13_all/EXA_C13_S09_01.csv")
attach(data)
data

  THERAPIST A B C
1 1         2 3 1
2 2         2 3 1
3 3         2 3 1
4 4         1 3 2
5 5         3 2 1
6 6         1 2 3
7 7         2 3 1
8 8         1 3 2
9 9         1 3 2

In [4]:
# Reshape the data into a matrix format
data_matrix <- as.matrix(data[, -1])

# Perform the Friedman test
friedman_result <- friedman.test(data_matrix)

# Display the Friedman test result
friedman_result

	Friedman rank sum test

data:  data_matrix
Friedman chi-squared = 8.2222, df = 2, p-value = 0.01639

In [7]:
# Example 13.9.2
data <- read.csv("data/ch13_all/EXA_C13_S09_02.csv")
attach(data)
data

The following objects are masked from data (pos = 3):

    A, B, C

   ANIMAL A  B   C   D
1   1     29  48  75 100
2   2     72  30 100 100
3   3     70 100  86  96
4   4     54  35  90  99
5   5      5  43  32  81
6   6     17  40  76  81
7   7     74 100 100 100
8   8      6  34  60  81
9   9     16  39  73  79
10 10     52  34  88  96
11 11      8  42  31  79
12 12     29  47  72  99
13 13     71 100  97 100
14 14      7  33  58  79
15 15     68  99  84  93
16 16     70  30  99  99

In [8]:
# Reshape the data into a matrix format
data_matrix <- as.matrix(data[, -1])

# Perform the Friedman test
friedman_result <- friedman.test(data_matrix)

# Display the Friedman test result
friedman_result

	Friedman rank sum test

data:  data_matrix
Friedman chi-squared = 31.706, df = 3, p-value = 6.036e-07

#### 13.9.1

The following table shows the scores made by nine randomly selected student nurses on final
examinations in three subject areas.

Test the null hypothesis that student nurses constituting the population from which the above sample
was drawn perform equally well in all three subject areas against the alternative hypothesis that they
perform better in, at least, one area. Let $\alpha$ = .05.

In [16]:
data <- read.csv("data/ch13_all/EXR_C13_S09_01.csv")
data

  SUBJ FUND PHYS ANAT
1 1    98   95   77
2 2    95   71   79
3 3    76   80   91
4 4    95   81   84
5 5    83   77   80
6 6    99   70   93
7 7    82   80   87
8 8    75   72   81
9 9    88   81   83

In [17]:
# Reshape the data into a matrix format
data_matrix <- as.matrix(data[, -1])

# Perform the Friedman test
friedman.test(data_matrix)

	Friedman rank sum test

data:  data_matrix
Friedman chi-squared = 8.6667, df = 2, p-value = 0.01312

Since the p-value is less than the significance level of 0.05 (denoted as α), we reject the null hypothesis. This means that there is evidence to suggest that student nurses, drawn from the population represented by the given sample, do not perform equally well in all three subject areas. Instead, they perform better in, at least, one area.

In conclusion, based on the analysis, we can reject the null hypothesis and conclude that there is a significant difference in the performance of student nurses across the three subject areas.

#### 13.9.2

Fifteen randomly selected physical therapy students were given the following instructions: “Assume
that you will marry a person with one of the following handicaps (the handicaps were listed and
designated by the letters A to J). Rank these handicaps from 1 to 10 according to your first, second,
third (and so on) choice of a handicap for your marriage partner.” The results are shown in the
following table.

Test the null hypothesis of no preference for handicaps against the alternative that some handicaps are
preferred over others. Let $\alpha$ = .05.

In [18]:
data <- read.csv("data/ch13_all/EXR_C13_S09_02.csv")
data

   SUBJ A B C D E  F G H I J
1   1   1 3 5 9  8 2 4 6 7 10
2   2   1 4 5 7  8 2 3 6 9 10
3   3   2 3 7 8  9 1 4 6 5 10
4   4   1 4 7 8  9 2 3 6 5 10
5   5   1 4 7 8 10 2 3 6 5  9
6   6   2 3 7 9  8 1 4 5 6 10
7   7   2 4 6 9  8 1 3 7 5 10
8   8   1 5 7 9 10 2 3 4 6  8
9   9   1 4 5 7  8 2 3 6 9 10
10 10   2 3 6 8  9 1 4 7 5 10
11 11   2 4 5 8  9 1 3 7 6 10
12 12   2 3 6 8 10 1 4 5 7  9
13 13   3 2 6 9  8 1 4 7 5 10
14 14   2 5 7 8  9 1 3 4 6 10
15 15   2 3 6 7  8 1 5 4 9 10

In [19]:
# Reshape the data into a matrix format
data_matrix <- as.matrix(data[, -1])

# Perform the Friedman test
friedman.test(data_matrix)

	Friedman rank sum test

data:  data_matrix
Friedman chi-squared = 123.45, df = 9, p-value < 2.2e-16

Since the p-value is significantly smaller than the significance level of 0.05 (denoted as α), we reject the null hypothesis. This implies that there is strong evidence to suggest that the physical therapy students do have a preference for certain handicaps over others when considering a marriage partner.

In conclusion, based on the analysis, we can reject the null hypothesis and conclude that there is a significant preference for certain handicaps among the physical therapy students.

#### 13.9.3

Ten subjects with exercise-induced asthma participated in an experiment to compare the
protective effect of a drug administered in four dose levels. Saline was used as a control. The
variable of interest was change in FEV1 after administration of the drug or saline. The results
were as follows:

Can one conclude on the basis of these data that different dose levels have different effects?
Let $\alpha$ = .05 and find the p value.

In [20]:
data <- read.csv("data/ch13_all/EXR_C13_S09_03.csv")
data

   SUBJ SALINE T2    T10   T20   T40
1   1   -0.68  -0.32 -0.14 -0.21 -0.32
2   2   -1.55  -0.56 -0.31 -0.21 -0.16
3   3   -1.41  -0.28 -0.11 -0.08 -0.83
4   4   -0.76  -0.56 -0.24 -0.41 -0.08
5   5   -0.48  -0.25 -0.17 -0.04 -0.18
6   6   -3.12  -1.99 -1.22 -0.55 -0.75
7   7   -1.16  -0.88 -0.87 -0.54 -0.84
8   8   -1.15  -0.31 -0.18 -0.07 -0.09
9   9   -0.78  -0.24 -0.39 -0.11 -0.51
10 10   -2.12  -0.35 -0.28  0.11 -0.41

In [21]:
# Reshape the data into a matrix format
data_matrix <- as.matrix(data[, -1])

# Perform the Friedman test
friedman.test(data_matrix)

	Friedman rank sum test

data:  data_matrix
Friedman chi-squared = 29.528, df = 4, p-value = 6.107e-06

Since the p-value is significantly smaller than the significance level of 0.05 (denoted as α), we reject the null hypothesis. This indicates that there is strong evidence to suggest that the different dose levels have different effects on the change in FEV1 among subjects with exercise-induced asthma.

In conclusion, based on the analysis, we can reject the null hypothesis and conclude that there are significant differences in the effects of the different dose levels on the change in FEV1. This implies that the drug administered at different dose levels does have varying effects.